.col-md-61{
    max-width: 1700px;
     margin : auto;
      width :85% ;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 2px solid black;
    padding: 10px;
    background-color:white;
}
.col-md-62 text-center{
    width: 1000px;
}
.col6.col8 {
    display: flex;
}
.form-group{
    background-color: #e7ecf0;
    box-shadow: 0 20px 0 0 #e7ecf0;
}